/* body {
  color: white;
} */

#Header {
  height: 100vh;
  background-image: url("./2151383050.jpg");
  position: relative;
}

.logo {
  height: 60px;
  width: 60px;
}

.nav-item {
  padding: 10px;
}

.fa-plane,
.fa-hotel,
.fa-train,
.fa-bus,
.fa-taxi {
  padding: 20px;
  height: 110px;
  width: 110px;
  display: block;
  margin: 0 auto;
}

.home-page-heading {
  text-align: center;
  color: white;
  padding: 80px 500px 0 500px;
}

.heading {
  border-radius: 50px;
  padding: 20px;
  font-weight: bolder;
  background-color: #4a249d;
}

.home-page-header {
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-8%, -60%);
  text-align: center;
}

.icon-container {
  padding: 10px 50px 10px 50px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.icon-container span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: black; /* Change color as needed */
}

.explore-more {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white; /* Adjust color as needed */
  display: inline-block;
  margin: 0 5px;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #ff4191; /* Adjust color as needed */
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
}

.explore-button:hover {
  background-color: white;
  color: black;
}

.collections {
  background-color: #eef7ff;
  margin: 100px 200px 100px 200px;
  padding: 50px;
}

figure {
  display: grid;
  height: 300px;
  width: 250px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: 0.75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption {
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.cards-collections {
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  background: #425a52;
}

.destination-card {
  margin: 20px;
}
